:root {
  --dark: #374151;
  --darker: #303641;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #a14875;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
  min-height: 100%;
  color: #fff;
  background-color: white;
  margin: 0 auto;

  .header {
    width: 100%;
    padding: 60px 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
    gap:100px;
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 20px;
    }
    h1 {
      font-size: 40px;
      font-weight: 300;
      color: var(--grey);
      margin-bottom: 16px;
      margin-right: 10px;
      color: #0a0a0a;
    }
  }

  #new-task-form {
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
  }



  #new-task-input {
    background-color: transparent;
    padding: 10px;
    margin-right: 16px;
    color: #111827;
    font-size: 20px;
    width: 300px;
    max-height: 100px;
    border: 1px solid rgb(24, 21, 21);
    word-wrap: break-word; resize: vertical;
    border-radius: 4px;
    &::placeholder {
      color: #c1c0c0;
    }
  }

  #new-task-submit {
    font-size: 25px;
    font-weight: 700;
    background-color: #54ba61;
    padding: 12px;
    color: white !important;
    border-radius: 15px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }

  main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    .task-list {
      padding: 16px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      h2 {
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 16px;
      }
      #tasks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
      }
      #tasks .task {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #8d8c8c;
        padding: 16px;
        border-radius: 20px;
        margin-bottom: 16px;
        max-width: 33%;
        .content {
          flex: 1 1 0%;
          min-height: 100px;
          .card__top {
            border-bottom: 2px solid white;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-between;
            .card__title {
              font-size: 20px;
            }
            #done {
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 4px;
              color: #dadbda;
              padding: 8px 12px;
              width: 20px;
              height: 20px;
              &:focus {
                outline: none;
                border-color: rgb(92, 92, 177); // change border color on focus
              }
            }
          }
          .text {
            font-size: 18px;
            width: 100%;
            display: block;
            transition: 0.4s;
            padding-top: 10px;
            font-size: 20px;
            &:not(:read-only) {
              color: var(--pink);
            }
          }
        }

        .actions {
          display: flex;
          margin: 0 -8px;
          justify-content: center;
          .delete {
            cursor: pointer;
            margin: 0 8px;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            transition: 0.4s;
            background: transparent;
            color: #aa2d2d;
            outline: none;
            border: none;
            &:hover {
              color:#94d79b;
            }

            &:active {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.text {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  height: auto;
  height: 200px;
}
